.NoticeDetail_text {
  margin-top: 10%;
  margin-left: 25%;
  font-size: 20px;
  font-weight: bold;
}

.NoticeDetail_notice,
.NoticeDetail_Like {
  display: inline;
}

.NoticeDetail_notice {
  font-size: 200%;
}
.NoticeDetail_Like {
  margin-left: 80%;
  color: #3689cf;
  font-size: 100%;
}

.NoticeDetailBox_top {
  background-color: #e2e2e2;
  margin-top: 10px;
  padding: 15px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 50%;
}

.NoticeDetail_writerinfo {
  margin-top: 1%;
  margin-left: 26%;
  font-size: 20%;
  color: #8b8b8b;
}
.NoticeDetail_add {
  margin-left: 70%;
  font-size: 20%;
  font-weight: bold;
}
.NoticeDetailBox_bottom {
  background-color: #999999;
  margin-top: 10px;
  padding: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.NoticeDetail_next,
.NoticeDetail_bottomtext {
  display: inline;
}

.NoticeDetail_next {
  margin-top: 10%;
  margin-left: 27%;
  font-size: 50%;
}

.NoticeDetail_bottomtext {
  font-size: 70%;
  white-space: normal;
}

.NoticeDetail_List {
  background: #3689cf;
  color: white;
  margin-left: 70%;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 5%;

  border: none;
}
